<a href="https://colab.research.google.com/github/jiujitsuhyeon/kitty/blob/main/diabetes_study_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes.csv

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [6]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [7]:
# 학습, 예측 데이터셋 나누기
df.shape[0]  # 행의 값만 들고옴

768

In [9]:
split_count = int(df.shape[0] * 0.8)
split_count

614

In [12]:
# train, test로 슬라이싱을 통해 데이터를 나눈다
train = df[:split_count].copy()
train  # 0부터 613번까지 데이터 train에 넣어주기

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
609            1      111  ...   23        0
610            3      106  ...   24        0
611            3      174  ...   36        1
612            7      168  ...   40        1
613            6      105  ...   26        0

[614 rows x 9 columns]

In [13]:
train.shape

(614, 9)

In [17]:
test = df[split_count:].copy()
test.shape

(154, 9)

In [22]:
# 학습, 예측에 사용할 열
# 변수에 학습과 예측에 사용할 열 이름을 가져온다.

feature_names = train.columns[:-1].tolist()
feature_names

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [25]:
# 정답값이자 예측해야 할 값

label_name = train.columns[-1]
label_name

'Outcome'

In [29]:
# 학습 세트 만들기
X_train = train[feature_names]
X_train.shape
X_train.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [31]:
# 정답 값 만들기
y_train = train[label_name]
print(y_train.shape)
y_train.head()

(614,)

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [32]:
# 예측에 사용할 데이터 세트 만들기
X_test = test[feature_names]
print(X_test.shape)
X_test.head()

(154, 8)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
614           11      138             74  ...  36.1                     0.557   50
615            3      106             72  ...  25.8                     0.207   27
616            6      117             96  ...  28.7                     0.157   30
617            2       68             62  ...  20.1                     0.257   23
618            9      112             82  ...  28.2                     1.282   50

[5 rows x 8 columns]

In [34]:
# 예측의 정답값
y_test = test[label_name]
print(y_test.shape)
y_test.head()

(154,)

614    1
615    0
616    0
617    0
618    1
Name: Outcome, dtype: int64

In [35]:
# 머신러닝 알고리즘 가져오기

from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')